.blogListContainer{
    display:flex;
    justify-content:space-between;   
    margin:30px;
}
.tiltleText{
    font-weight: 700;
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 30px;
}
.descriptionText{
    font-size: 15px;
    font-weight: 400;
    color:#9aa5b1
}
.dateText{
    color:#9aa5b1;
    font-weight: 500;

}