.headerContainer{
    display:flex;
    justify-content:space-between;
}

.nav-menu{
    width:40vh;
    display:flex;
   justify-content: space-evenly;
   list-style-type: none;
   align-items: center;
   color: #12022f;
   
}
.nav-link{
    font-size: 25px;
   font-family: bold;
    color: #12022f; 
    text-decoration: none;
}
