.profileInfo{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.imageUrl{
    height:20vh;
    margin-bottom: 0px;
}
.nameText{
    font-size: 20px;
    font-family: Roboto;
    font-weight: bolder;
    margin:0px;
    color:#12022f;
}
.profileText{
 font-size: 15px;
 font-weight: 400;
 font-style: italic;
 color:#9aa5b1
}



